.input {
    width: 100%;
    height: 32px;
    background-color: var(--background-color-allPage);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #D0CECE;
}