.wrapper {
    background-color: var(--background-color-allPage);
    padding: 30px 150px 0 150px;
    height: 100%;
    display: flex;
    gap: 75px;
    flex-direction: column;
    line-height: 32px;
    font-size: 24px;
    padding-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.top {
    &__image {
        width: 100%;
        border-radius: 50px;
    }
}

.subtitle {
    font-size: 40px;
    text-align: left;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {}

    &__list {
        margin: 25px 0 75px 0;
        padding-left: 25px;
    }

    &__text {
        text-align: justify;
    }
}

.tytle {
    display: flex;
    gap: 40px;
    flex-direction: column;

    &__text {
        font-size: 40px;
        text-align: left;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
}

.circle {
    display: flex;
    gap: 20px;

    &__text {
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        width: 244px;
    }

    &__image {
        height: 67px;
        width: 67px;
    }
}


.stretchingtext {
    text-align: left;
    font-size: 40px;
    line-height: 48px;
}