.zapisblock {
    background-color: #F9EBFF;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
}

.zapisblock_text {
    width: 823px;
    height: 120px;
    margin: 40px 0 40px 0;
}

.zapisblock_proba {
    margin-left: 20px;
    padding-left: 52px;
}