.wrapper {
    display: flex;
    gap: 75px;
    flex-direction: column;
    background-color: var(--background-color-allPage);
    padding: 30px 150px 0 150px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}


.title {
    display: flex;
    justify-content: flex-start;
    font-size: 48px;
}

.user {
    width: 304px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;


    &__data {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_text {
            margin: 0;
            padding: 0;
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__content {
        display: flex;
    }
}

.link {
    transform: translate(-340px, 460px);
}

.chooseData {
    width: 50%;
    height: 50%;
}